:root{
    --bmq-bg:white;
    --bmq-bg2:rgb(228, 223, 223);
    --bmq-text:#131413;
    --bmq-text2:#7b7b7b;
    --bmq-text3:#00b96b;
    --bmq-modal-bg:#626462;
    --bmq-primary: #00b96b;
    --bmq-line: rgb(187, 186, 186);
    --antd-arrow-background-color:#626462;
}